div.records {
  z-index: 2;
  border: 1px solid #B3B3B3;
  min-width: 654px;
  height: 251px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 11px;
  border-collapse: collapse;
}

.scrolling_table .headers {
z-index: 3;
height: 18px;
min-width: 654px;
border: 1px solid #989898;
overflow: hidden;
overflow-y: scroll;
}

.scroll_bar_cover_container {
position: fixed;
z-index: 5;
top: 1px;
right: 1px;
height: 0;
font-size: 11px;
border: 1px none #989898;
text-align: right;
}

.scroll_bar_cover_up {
background: url(http://danvpeterson.com/aws/sites/my1p/images/interface/list_header_bg.png) repeat-x;
width: 14px;
height: 18px;
border-left: 1px solid #e5e5e5;
float: right;
}

.scrolling_table .headers table {
  width: 100%;
}

.scrolling_table .headers th {
background: url(http://danvpeterson.com/aws/sites/my1p/images/interface/list_header_bg.png) repeat-x;
border-left: 1px solid #e5e5e5;
border-right: 1px solid #a5a5a5;
text-align: left;
padding: 0 5px;
margin: 0;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
height: 18px;
width: 42%;
font-size: 11px;
line-height: 1.6em;
text-shadow: #fff 0 1px 0;
}

.scrolling_table .headers th + th {
width: 32%;
}

.scrolling_table table {
  width: 100%;
}

.scrolling_table table td {
width: 42%;
}

/* make TD elements pretty. */

.scrolling_table tbody td {
/*background: #FFF;*/
border-left: none;
border-right: 1px solid #cbd1d8;
padding: 1px 5px;
height: 18px;
line-height: 1.6em;
margin: 0;
}

.scrolling_table table td + td {
width: 32%;
}

.odd {
  background-color: #F0FDEB;
  border: 2px solid #F0FDEB;
}
