<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <title>Teams</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <!--[if IE]>
    <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/table.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="javascripts/table.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<!--This is a super hack job to get the table header to remain fixed, the columns to stay lined up, and the scrollbar to be covered up on the header-->
  <div id="scrollBarCoverContainer">
    <div id="scrollBarCoverUp"></div>
  </div>

  <div id="listTableHeaders">
    <table id="entryListHeaders" border="0" cellpadding="0" cellspacing="0" width="100%">
      <thead class="fixedHeader">
        <tr>
          <th id="selectedHeader"><a href="#"><img class="sortArrow" src="http://danvpeterson.com/aws/sites/my1p/images/interface/table_arrow_down.png" width="7" height="16" alt="" />Name</a></th>
          <th><a href="#">Domain</a></th>
          <th><a href="#">Modified</a></th>
        </tr>
      </thead>
    </table>
  </div>
<!--END hack job-->

  <div id="listTable">
    <table id="entryList" class="scrollTable" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody class="scrollContent">
      <tr>
        <td>Cell Content 1</td>
        <td>Cell Content 2</td>
        <td>Sep 16, 2007 01:54 AM</td>
      </tr>
      <tr class="selectedRow">
        <td>AVS Forum</td>
        <td>avsforum.com</td>
        <td>Sep 16, 2007 01:54 AM</td>
      </tr>
      <tr>
        <td><span class="truncateText">Even More Cell Content 1 Even More Cell Content 1 Even More Cell Content 1 Even More Cell Content 1</span></td>
        <td>Even More Cell Content 2</td>
        <td>Sep 16, 2007 01:54 AM</td>
      </tr>
      <% @teams.each do |team|  %>
      <tr>
        <td><%= team.name %></td>
        <td>And Repeat 2</td>
        <td>Sep 16, 2007 01:54 AM</td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>

</body>
</html>