<span>
  <a href="#" onclick="new Ajax.Updater('team_<%= team.id %>', 
                                        '/admin/teams/edit_name/<%= team.id %>', 
                                        { asynchronous:false, 
                                          evalScripts:true, 
                                          onComplete: function(transport) {$('team_<%= team.id %>_name_text_field').select() }
                                        }); 
                                        return false;"><%= 
  if team.name.blank?
    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
  else
    team.name 
  end
%></a>
</span>
